@font-face {
    font-family: 'gothambold';
    src: url('font/gotham-bold-webfont.woff2') format('woff2'),
         url('font/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothammedium';
    src: url('font/gothammedium-webfont.woff2') format('woff2'),
         url('font/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothambook';
    src: url('font/gothambook-webfont.woff2') format('woff2'),
         url('font/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack';
    src: url('font/roboto-black-webfont.woff2') format('woff2'),
         url('font/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* pour l'appeler font-family: 'Open Sans', sans-serif; */

/* responsive mobile */
@media screen and (max-width : 414px){

}
/* responsive tablet  */
@media screen and (max-width : 1024px){
    
}

.ns1section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    padding: 0;
    margin:0;
}

.ns2col
{
    width: 50%;
}

.ns4img
{
    width:100%;
}
.ns3worktext{
    margin-left: 15px;
    
}

.ns3text{
    font-family: 'gothambook'; 
}
.ns3header
{
    font-family: 'gothammedium';
}
.ns4white{
    background: white;
    color:black;
}
.ns4black
{
    background: black;
    color:white;

}